<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wethtorang.ckcc">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplanhScreen.splanhScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ListsPoem.Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wethtorang.ckcc.MainActivity" />
        </activity>
        <activity android:name=".ListsPoem.FourPeom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wethtorang.ckcc.MainActivity" />
        </activity>
        <activity android:name=".ListsPoem.Promkit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wethtorang.ckcc.MainActivity" />
        </activity>
        <activity android:name=".ListsPoem.SevenPeom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wethtorang.ckcc.MainActivity" />
        </activity>
    </application>

</manifest>